<!doctype html>
<html lang = en>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Washington Lacrosse Umpires Association</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" type="" href="/img/wlua.jpg">
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">

{% include "partials/nav.html" %}
    <body>
        <main>
            {{ content | safe }}
        </main>
        <script src="/js/main.js"></script>
       
    </body>

{% include "partials/footer.html" %}

</html> 