---
layout: layouts/base
---
<section class="index">
    <article class="index-updates">
        <h1>Announcements</h1>
        <ul>
            <li>Mandatory Meeting, March 1, 2021</li>
            <li>USL Rules 2021 Memo<a class="new-window" href="/img/pdf/usl-rules-memo.pdf">PDF </a>
                <a href="/img/pdf/usl-rules-memo.pdf" download> Download</a>
            </li>
            <li>USL Rules 2021 Interpretations<a class="new-window" href="/img/pdf/usl-rules-interpretations.pdf"></a>
                <a href="/img/pdf/usl-rules-interpretations.pdf" download> Download</a>
            </li>
            <li>USL Rules 2021 Video<a class="new-window" href="https://www.youtube.com/watch?v=hXiCPxMFKXY&t=1s"></a>
            </li>
        </ul>
        {{ content | safe }}
    </article>
    <article class="index-contact">
        <h1>Contact Us</h1>
        <p>General Inqueries: <a href="mailto:wluachair@gmail.com">wluachair@gmail.com</a></p>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSc0CAebr83YUyvRPgwpTSNlYA7lkt_Lh1nMkgD9jmpiGsfQ8g/viewform?embedded=true"
            class="index-form" width="600" height="1600" frameborder="0" marginheight="0"
            marginwidth="0">Loading…</iframe>
    </article>
</section>