---
layout: layouts/base
title: Resources
---

<div class="resources">
    <div class="res-left">
        {{ content | safe }}
        <h2>WLUA</h2>
        <ul>
            <li>WLUA Bylaws <a class="new-window" href="/img/pdf/wlua-bylaws.pdf">PDF</a> <a
                    href="/img/pdf/wlua-bylaws.pdf" download>Download</a></li>
            <li>WLUA Policies & Procedures <a class="new-window"
                    href="/img/pdf/wlua-policies-and-procedures.pdf">PDF</a> <a
                    href="/img/pdf/wlua-policies-and-procedures.pdf" download>Download</a></li>
            <li>Officials Conflict of Interest Guidelines <a class="new-window"
                    href="/img/pdf/wlua-conflict-of-interests.pdf">PDF</a> <a
                    href="/img/pdf/wlua-conflict-of-interests.pdf" download>Download</a></li>
            <li>Code of Ethical Conduct <a class="new-window" href="/img/pdf/wlua-code-of-ethics.pdf">PDF</a> <a
                    href="/img/pdf/wlua-code-of-ethics.pdf" download>Download</a></li>
        </ul>

        <h2>USL</h2>
        <ul>
            <li><a class="new-window" href="https://www.uslacrosse.org/">US Lacrosse | The National Governing Body of
                    Lacrosse</a></li>
            <li><a class="new-window" href="https://www.uslacrosse.org/rules/girls-rules">USL Rulebook</a></li>
        </ul>
        <h2>Mentor Program</h2>

        <p><a class="new-window" href="/img/pdf/wlua-mentor-program.pdf">PDF</a> <a
                href="/img/pdf/wlua-mentor-program.pdf" download>Download</a></p>

        <h2>Rating Program</h2>

        <p><a class="new-window" href="/img/pdf/wlua-rating-program.pdf">PDF</a> <a
                href="/img/pdf/wlua-rating-program.pdf" download>Download</a></p>

        <h2>Arbiter Sports<a class="new-window" href="https://arbitersports.com"></a></h2>
        <ul>
            <li>Arbiter Pay <a class="new-window" href="/img/pdf/wlua-arbiter-pay.pdf">PDF</a> <a
                    href="/img/pdf/wlua-arbiter-pay.pdf" download>Download</a></li>
            <li>Tips for Game Assignment <a class="new-window" href="/img/pdf/tips-for-game-assignment.pdf">PDF</a> <a
                    href="/img/pdf/tips-for-game-assignment.pdf" download>Download</a></li>
        </ul>
    </div>
    <div class="res-form">
        <section class="res-feedback">
            <h1>Feedback Form</h1>
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSckm1nv9PdLib0QNAXyBfcLmFGW5rJKzj8Uhbzm5B2dRobqbA/viewform?embedded=true"
                width="500" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </section>
    </div>
</div>