---
layout: layouts/base
title: Resources
---

<div class="resources">
    {{ content | safe }}
    <details>
        <summary>WLUA</summary>
        <li>WLUA Bylaws <a class="new-window" href="/img/pdf/wlua-bylaws.pdf">PDF</a> <a href="/img/pdf/wlua-bylaws.pdf"
                download>Download</a></li>
        <li>WLUA Policies & Procedures <a class="new-window" href="/img/pdf/wlua-policies-and-procedures.pdf">PDF</a> <a
                href="/img/pdf/wlua-policies-and-procedures.pdf" download>Download</a></li>
        <li>Officials Conflict of Interest Guidelines <a class="new-window"
                href="/img/pdf/wlua-conflict-of-interests.pdf">PDF</a> <a href="/img/pdf/wlua-conflict-of-interests.pdf"
                download>Download</a></li>
        <li>Code of Ethical Conduct <a class="new-window" href="/img/pdf/wlua-code-of-ethics.pdf">PDF</a> <a
                href="/img/pdf/wlua-code-of-ethics.pdf" download>Download</a></li>
    </details>

    <details>
        <summary>USL</summary>
        <li><a class="new-window" href="https://www.uslacrosse.org/">US Lacrosse | The National Governing Body of Lacrosse</a></li>
        <li><a href="">USL Manual (sharepoint link is private)</a></li>
        <!--sharepoint link is private, need public-->
        <li><a class="new-window" href="https://www.uslacrosse.org/rules/girls-rules">USL Rulebook</a></li>
    </details>

    <details>
        <summary>Rating Program</summary>
        <h1>WLUA Rating Program</h1>
        <p>The WLUA Rating Committee manages, maintains, and records umpire ratings for all members of the WLUA Board.
            The
            Rating Committee establishes umpire ratings for youth-level and high school-level officials according to US
            Lacrosse and National Federation of High School (NFHS) certification requirements. The Rating Committee
            records
            umpire ratings for collegiate-level and above officials according to NCAA, National, and International
            certification requirements. It is the responsibility of each umpire to maintain a current rating with each
            officiating board for which the official works.</p>
        <h2>Officiating Levels</h2>
        <p><strong>Youth Rating</strong> – a youth rating is granted to a junior official or an adult official who is
            qualified to officiate youth-level games. A junior official is under 18 years of age or in high school and
            where
            the participants are at least two years younger than the official. The youth-rated official will have
            completed
            the Youth-Level Official Training Course and the Youth-Level Official On-Field Training.</p>
        <p><strong>Apprentice</strong> – a first-year official who is qualified to officiate youth-level games, middle
            school games, and some high school junior varsity games. The apprentice rating is automatically awarded for
            one
            year to all first-year officials who have completed the Official Training Course and the Official On-Field
            Training. The apprentice rating will also be awarded to an official who is still developing their
            understanding of
            the girls’ rules, umpire positing, and game management.</p>
        <p><strong>Level 1</strong> – an official who is qualified to officiate youth-level games, middle school games,
            and
            some high school junior varsity games.</p>
        <p><strong>Level 2</strong> – an official who is qualified to officiate youth-level games, middle school games,
            high
            school junior varsity and varsity games. Officials earning a Level 2 rating will have shown proficiency in
            the
            two-person system of officiating and demonstrate a strong understanding of the rules of the girls’ game.</p>
        <p><strong>Level 3</strong> – an official who is qualified to officiate all youth, middle school, and high
            school
            games. Officials earning a Level 3 rating will have shown proficiency in the two- and three-person system of
            officiating and demonstrate a strong understanding of the rules of the girls’ game.</p>
        <h2>Obtain a Rating</h2>
        <p>Apprentice ratings for all first-year officials are automatically awarded upon successful completion of both
            the
            Official Training Class and the Official On-Field Training. These ratings will be valid for one year. All
            other
            high school-level ratings will be conducted throughout the lacrosse season based on game and rater
            availability.
            Candidates are eligible for an Apprentice, Level 1, or Level 2 game for two-person games. Level 3 ratings
            are only
            granted on three-person games.</p>
        <p>Contact the WLUA Rating Committee prior to the expiration of the high school-level rating.</p>
        <p>WLUA Rating Committee will work with the umpire assigners and notify you of the date, time, location, and
            name
            and contact information of the rater for the game on which you will be rated. Rating evaluation forms will
            be
            provided and are also available through the following links: Level 1-2 and Level 3.</p>
        <p><strong>Cost</strong>: $75, deducted from game fee.</p>
        <p>Within 24 hours, you will be notified of your earned rating. The term of the rating and level you are granted
            are
            based on your performance against the evaluation form. All ratings will expire on December 31 of the year
            that
            your rating term expires. Within one week, you will be provided completed evaluation form.</p>
        <p>Your rating will be added to WLUA’s records, but you are ultimately responsible for your rating and the
            expiration of your rating. You will need to seek out a re-rate opportunity prior to your rating expiration
            date to
            avoid a lapse in your certification. This opportunity may be with WLUA, another Board, or at any US Lacrosse
            event
            where ratings are being offered.</p>
        <h2>WLUA Rating Committee Members</h2>
        <p><strong>WLUA Rating Committee</strong> - <a href="mailto:WLUAratings@gmail.com">WLUAratings@gmail.com</a></p>
        <p><strong>Mary Ann Wagner</strong> - <a href="mailto:mawagner@cox.net">mawagner@cox.net</a></p>
        <p><strong>Ron Fowler</strong> - <a href="mailto:fowlerlaw42@gmail.com">fowlerlaw42@gmail.com</a></p>
        <p><strong>Ryan Buslovich</strong> - <a href="mailto:Buslovich@gmail.com">Buslovich@gmail.com</a></p>
        <p><strong>Sarah Zwilsky</strong> - <a href="mailto:SarahZwilsky@yahoo.com">SarahZwilsky@yahoo.com</a></p>

    </details>

    <details>
        <summary>Mentor Program</summary>
        <h1>Mentor Program Info</h1>
        <p>David Falzarano</p>
        <p>David Falzarano is a Collegiate Select lacrosse official who has been officiating women’s lacrosse since
            2003.
            David lived in New Jersey until three years ago. He started a mentor program in northern New Jersey, for
            North
            East Chapter II, one of the largest high school and youth chapters in the Mid-Atlantic Region.</p>
        <p>The WLUA Mentor Program is open to all officials, of any skill level.</p>
        <p>Mentors will be chosen by the WLUA based on rating, experience and willingness to share their time, and
            efforts
            to make fellow members better lacrosse officials. Mentees only need to sign up.</p>
        <p>If an official signs up for the program, as a mentee, they will automatically be accepted. The program will
            attempt to match the mentee with a mentor who suits their needs based on the mentee’s location, skill level
            and
            individual needs.</p>
        <p>A mentor can be a valuable resource. All our mentors have many years of lacrosse officiating under their
            belts.
            They can provide answers to rules questions, questions regarding on field mechanics, field positioning and
            signals. There is also many other concepts that can be explored during your interactions. If you had a
            particular
            issue on the field that day, your mentor could be a person to go to for advice and guidance.</p>
        <p>Consider signing up to be a mentor or mentee. It is an invaluable experience. The only prerequisite for this
            program is a willingness to give up some of your TIME. A valuable commodity in our busy lives. However, you
            will
            find the benefits priceless.</p>
        <p>Any questions please feel free to contact David Falzarano by either <a
                href="mailto:Dfalz1492@gmail.com">email</a> or phone. He can be reached most days or evenings.</p>

    </details>

    <details>
        <summary>Arbiter</summary>
        <li><a href="https://arbitersports.com">Arbiter Sports</a></li>
        <li>Arbiter Pay <a class="new-window" href="/img/pdf/wlua-arbiter-pay.pdf">PDF</a> <a
            href="/img/pdf/wlua-arbiter-pay.pdf" download>Download</a></li>
        <li>Tips for Game Assignment <a class="new-window" href="/img/pdf/cheat-sheet.pdf">PDF</a> <a
            href="/img/pdf/cheat-sheet.pdf" download>Download</a></li>
    </details>

    <details>
        <summary>Feedback Form (not complete)</summary>
    </details>
</div>