---
layout: layouts/base
---
<div class="rules-lists">
    <h1>US Lacrosse</h1>
    <ul>
        <li><a class="new-window" href="">Rules Memo (need link)</a></li>
        <li><a class="new-window" href="https://www.uslacrosse.org/rules/girls-rules">Rules Presentation</a></li>
        <li><a class="new-window" href="">Video (need link)</a></li>
        <li><a class="new-window" href="https://www.uslacrosse.org/blog/equipment-reminders-from-us-lacrosse">Equipment
                Reminders</a></li>
    </ul>
    <h1>Northern Virginia Youth Lacrosse League</h1>
    <ul>
        <li><a class="new-window" href="/error">Rules & Regulations (click to see permission error)</a></li>
    </ul>
    <h1>National Federation of State High School Associations
        <span><a class="new-window" href="https://www.nfhs.org/activities-sports/lacrosse-girls/"></a></span>
    </h1>
</div>