---
layout: layouts/base
---
<div class="rules-lists">
    <div>
        <h1>US Lacrosse</h1>
        <ul>
            <li><a class="new-window" href="/img/pdf/usl-rules-memo.pdf">USL Rules 2021 Memo</a></li>
            <li><a class="new-window" href="https://www.usalacrosse.com/rules/girls-rules">Rules Presentation</a></li>
            <li><a class="new-window" href="https://www.youtube.com/watch?v=hXiCPxMFKXY&t=1s">USL Rules 2021 Video</a></li>
            <li><a class="new-window"
                    href="https://www.usalacrosse.com/blog/equipment-reminders-from-us-lacrosse">Equipment
                    Reminders</a></li>
        </ul>
    </div>
    <div>
        <h1>Northern Virginia Youth Lacrosse League</h1>
        <ul>
            <li>Rules & Regulations <a class="new-window"
                href="/img/pdf/nvyll-rules-regulations.pdf">PDF</a> <a
                href="/img/pdf/nvyll-rules-regulations.pdf" download>Download</a></li>
        </ul>
    </div>
    <div class="rules-stretch">
        <h1>National Federation of State High School Associations
            <span><a class="new-window" href="https://www.nfhs.org/activities-sports/lacrosse-girls/"></a></span>
        </h1>
    </div>
</div>