$blue: #0927d1;
$orange: #db7602;

* {
  box-sizing: border-box;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

code {
  background: lightblue;
  font-family: 'Courier New', Courier, monospace;
  font-size:105%;
  padding:2px;
}

body {
  margin: 0;
}

details {
  cursor:pointer;
}

main {
  line-height: 1.5;
  margin:2.5% 8%;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration:underline;
  color:$blue;
}

a:focus {
  outline:1px dashed $orange;
  outline-offset: 2px;
}

a:hover {
  color:$orange;
}

button {
  font: inherit;
  padding:0;
}

h1 {
  font-size:2.5rem;
}

p, li {
  font-size: 1rem;
}

main summary {
  font-size:2rem;
  cursor: pointer;
}

main summary::marker {
  font-size:1.5rem;
}

nav summary {
  color:$blue;
}

nav summary:hover {
  color:$orange;
}

details ul {
  padding-left:20px;
}

details li {
  text-transform: uppercase;
  list-style: none; 
}


/* banner */

.header-banner {
  background:$blue;
  color:white;
  text-align:center;
  padding:.5vw;
}

.header-banner a, .footer-link a {
  color:white;
}

.header-banner p {
  margin:0;
}

.header-banner a:hover {
  color:$orange;
}

.header-contain {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}

.header-contain img {
  display:block;
  width:30vw;
  height:auto;
  margin: 25px 10px 10px 25px;
}

/* nav */

nav {
  display:flex;
  justify-content: flex-end;
}

.nav-list {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  margin-right:3vw;
}

.nav-item {
  text-transform: uppercase;
  list-style: none;
  margin:10px;
  align-self:flex-end;
}

.nav-item:before {
  content: "\200B"; 
}

.nav-link {
  text-decoration:none;
}

/* mailto: copy to clipboard */

.mailto-link {
	position: relative;
	padding: 8px 0;
}
.mailto-message {
	top: 1px;
	left: 50%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2px 6px;
	border-radius: 2px;
	&:after,
	&:before {
		content: '';
	}
	&:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #000000;
		border-width: 4px;
		margin-left: -4px;
	}
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
	display: block;
}

/* footer */

footer {
  margin:0;
  padding:0;
  background:$blue;
  color:white;
}

.footer-icon {
  height:60px;
  width:60px;
}

.footer-contain {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding:2vw;
}


.footer-link a {
  display:block;
  padding:0;
}

.footer-link a:hover {
  color:$orange;
}

.footer-icon img {
  margin:1vw;
  height:36px;
  width:36px;
}
