* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

code {
  background: lightblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 105%;
  padding: 2px;
}

body {
  margin: 0;
}

main {
  line-height: 1.5;
  margin: 2.5% 8%;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  color: #0927d1;
}

a:focus {
  outline: 1px dashed #db7602;
  outline-offset: 2px;
}

button {
  font: inherit;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

p, li {
  font-size: 1rem;
}

summary {
  font-size: 2rem;
  cursor: pointer;
}

summary::marker {
  font-size: 1.5rem;
}

/* banner */
.header-banner {
  background: #0927d1;
  color: white;
  text-align: center;
  padding: .5vw;
}

.header-banner a, .footer-link a {
  color: white;
}

.header-banner p {
  margin: 0;
}

.header-banner a:hover {
  color: #db7602;
}

.header-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contain img {
  display: block;
  width: 30vw;
  height: auto;
  margin: 25px 10px 10px 25px;
}

/* nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 3vw;
}

.nav-item {
  text-transform: uppercase;
  list-style: none;
  margin: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav-item:before {
  content: "\200B";
}

.top-lvl {
  background: none;
  border: 0;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  color: #0927d1;
}

.nav-link {
  text-decoration: none;
}

/* mailto: copy to clipboard */
.mailto-link {
  position: relative;
  padding: 8px 0;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}

.mailto-message:after, .mailto-message:before {
  content: '';
}

.mailto-message:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 4px;
  margin-left: -4px;
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
}

/* footer */
footer {
  margin: 0;
  padding: 0;
  background: #0927d1;
  color: white;
}

.footer-icon {
  height: 60px;
  width: 60px;
}

.footer-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw;
}

.footer-link a {
  display: block;
  padding: 0;
}

.footer-link a:hover {
  color: #db7602;
}

.footer-icon img {
  margin: 1vw;
  height: 36px;
  width: 36px;
}
/*# sourceMappingURL=style.css.map */