<header>
  <div class="header-banner" id="top">
    <p>{{site.banner}} Are you <a href="/checklist">under</a> or <a href="/checklist">over</a> 18?</p>
  </div>

  <!-- navigation -->
  <div class="header-contain">
    <div class="header-home">
      <a href="/"><img src="/img/wlua-logo.jpg"/></a>
    </div>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/youth">Youth Officiating</a></li>
        <li class="nav-item"><a class="nav-link" href="/training">Training</a></li>
        <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
        <details class="nav-item"><summary>RESOURCES</summary>
          <ul>
            <li><a class="nav-link" href="/resources-wlua">WLUA</a></li>
            <li><a class="nav-link" href="/resources-usl">USL</a></li>
            <li><a class="nav-link" href="/resources-committee">Committee</a></li>
            <li><a class="nav-link" href="/resources-assigners">Assigners</a></li>
            <li><a class="nav-link" href="/resources-peer-to-peer">Peer to Peer</a></li>
          </ul>
        </details>
        <li class="nav-item"><a class="nav-link" href="/media">Media</a></li>
      </ul>
    </nav>
  </div> 
</header>