<header>
  <div class="header-banner" id="top">
    <p>{{site.banner}} Are you <a href="/checklist">under</a> or <a href="/checklist">over</a> 18?</p>
  </div>

  <!-- navigation -->
  <div class="header-contain">
    <div class="header-home">
      <a href="/"><img src="/img/wlua-logo.jpg" /></a>
    </div>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
        <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
        <li class="nav-item"><a class="nav-link" href="/training">Training</a></li>
        <li class="nav-item"><a class="nav-link" href="/youth">Junior Umpires</a></li>
      </ul>
    </nav>
  </div>
</header>